.header-wrapper {
  width: 100%;
  background-color: #fff;
  color: #fff;
  padding-top: 1%;
  border-bottom: 2px solid #ccc;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  font-size: 150%;
}

.logo-left {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.logo-left h2 {
  color: rgb(39, 39, 39);
  cursor: pointer;
}

.logo-left h2:hover {
  color: rgb(87, 87, 87);
}

.logo-right {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 1%;
}

.logo-right h2 {
  color: rgb(39, 39, 39);
  cursor: pointer;
}

.logo-right h2:hover {
  color: rgb(87, 87, 87);
}

.logo-left h2 {
  margin: 0;
  color: #007bff;
}
