.home-wrapper {
  width: 80%;
  margin: auto;
}

.choose-image-btn {
  cursor: pointer;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
}

.choose-image-btn:hover {
  background-color: #0056b3;
}

.search-post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  min-width: 350px;
  background-color: #fff;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.text-input {
  flex-grow: 1;
  padding: 1%;
  margin-right: 10px;
}

.uploaded-image {
  width: 60%;
  min-width: 300px;
  height: auto;
  margin-top: 10px;
}

.image-post {
  display: none;
}

#fileInput {
  display: none;
}

.label {
  cursor: pointer;
  margin-left: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.label:hover {
  background-color: #0056b3;
}

.upload-button {
  background-color: #007bff;
  padding: 2%;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 1%;
  border: none;
  color: white;
  width: 15%;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

.homepage-wrapper {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}

.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  margin-top: 1%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  padding: 2%;
  background-color: #fff;
}

.user-profile p {
  text-align: center;
}

.user-profile h2 {
  font-size: 5rem;
  display: flex;
  cursor: pointer;
}

.follower-card {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 1%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 1%;
  border-radius: 10px;
  background-color: #fff;
}

.follower-card p {
  font-size: 1.1rem;
}

.follower-card button {
  width: 50%;
  border-radius: 20px;
  padding: 3%;
  border: none;
  background-color: #ccc;
}

.follower-card button:hover {
  background-color: #0056b3;
  cursor: pointer;
  color: white;
}

.posted-images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.posted-images-container img {
  border-radius: 15px;
  width: 80%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.posted-images-container p {
  margin-right: 58%;
  margin-bottom: 2%;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container img {
  border-radius: 15px;
}

.middle-wrapper {
  width: 100%;
  margin: 1%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: #fff;
}

.follower-list {
  max-height: calc(5rem * 3);
  overflow-y: auto;
  padding-right: 5%;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.followers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.followers p {
  margin-bottom: 4%;
}
